/*navbar-start*/
#navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;        
  z-index: 10; 

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: .5rem 1.5rem 0 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  background-color: white;
  font-size: 1rem;
}

#navbar-space{
  width: 100%;
  height: 4.5rem;
}

#navbar img{
  display: block;
  height: 80%;
  object-fit: cover;
}

#navbar-right{
  display:flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

#page-list{
  display: flex;
  align-items: center;
  height: 100%;
}

.page-list-item{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  align-content: center;
  font-size: .9rem;
}

.page-list-item a{
  flex: 1;
  align-content: center;
  padding: 0 2rem;
}

#page-list-item:hover{
  height: 100%;
  text-align: center;
  align-content: center;
  padding: 0 2rem;
  font-size: .9rem;
  transition: 500ms;
}

.page-list-item{
  position: relative;
}

.page-list-select{
  position: absolute;
  bottom: 0;
  left:50%;
  width: 0;
  height: .3rem;
}

.page-list-item:hover > .page-list-select{
  width: 100%;
  left:0;
  height: .1rem;
  background-color: var(--primary-color);
  transition: width .5s ease, left .5s ease;
}

#hamburger {
  display: none;
  font-size: 1.2em;
  cursor: pointer;
  color: rgb(32, 32, 32);
}

.shopping-cart{
  display: flex;
  align-items: center;
  padding: .6em .8em ;
  gap: .5em;
  font-size: .9em;
  border-radius: 1.7em;
  cursor: pointer;
}

.shopping-cart:hover{
  background-color: var(--primary-color);
  color: white;

  transition: background-color ease 500ms;
}

.shopping-cart:hover > .icon{
  border: solid white .1em;
  color: white;
}

.shopping-cart .icon{
  position: relative;
  color: var(--primary-color);
  border: solid var(--primary-color) .1em;
  border-radius: 50%;
  padding: .5em;
}

.cart-badge{
  position: absolute;
  top: -0.35em;
  right: -0.35em;

  width: 1.2em;
  height: 1.2em;
  padding: .3em .3em;

  background-color: rgb(223, 0, 0);
  color: white;

  font-size: .6em;
  font-weight: 400;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;
}

/*navbar-end*/

/*mobil-menu-start*/

#mobile-menu{
  display: none;
  position: fixed;
  z-index: 10000;
  inset: 0;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
}

#mobile-menu .container{
  background-color: white;
  width: 20em;
  padding: 2em 2em;
}

#mobile-menu .container .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

#mobile-menu .container .header i{
  line-height: 1;
  font-size: 1.8em;
  padding: .5em 0 .5em .5em;
  cursor: pointer;
  color: rgb(52, 52, 52);
}

#mobile-menu .container .header img{
  height: 90%;
}

#mobile-menu .items .page{
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .7em .5em;
  margin: .8em 0;
  background: none;
  border-radius: 10px;
  font-size: 1.1em;
}

#mobile-menu .items .page.active{
  background: linear-gradient(to right, rgba(210, 161, 37, 0.102), transparent);
  color: var(--primary-color);
}

#mobile-menu .shopping-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em .8em ;
  margin: 3em 0;
  font-size: .9em;
  border-radius: 15px;
  font-size: 1.1em;
  cursor: pointer;

  background: linear-gradient(45deg, #d08f17 0%, #e5a82b 50%, #f0b63a 100%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

#mobile-menu .shopping-cart .left{
  display: flex;
  align-items: center;
  gap: 1em;
}

#mobile-menu .shopping-cart:hover{
  background-color: var(--primary-color-hover);
  transform: scale(.95);

  transition: background-color ease 500ms, transform ease 300ms;
}

#mobile-menu .shopping-cart .icon{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: none;
  font-size: 1.3em;
}

#mobile-menu .shopping-cart > i{
  margin-right: .5em;
}

#mobile-menu .cart-badge{
  font-size: .5em;
  font-weight: 300;
}

#mobile-menu .bottom{
  margin-top: 5em;
}

#mobile-menu .bottom div{
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .5em 0;
  font-size: .9em;
}

#mobile-menu .bottom i{
  font-size: 1em;
  color: var(--primary-color);
}
/*mobil-menu-end*/

/*basket-start*/

#basket{
  display: none;
  position: fixed;
  z-index: 10000;
  inset: 0;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
}

#basket .container{
  background-color: white;
  width: 22em;
  padding: 2em 1.5em;
}

#basket .header, .header > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5em;
}

#basket .header .title{
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Playfair Display';
}

#basket .header .count{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 1.8em;
  line-height: 1;
  font-size: .9em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
}

#basket .header i{
  font-size: 1.5em;
  padding: .5em 0 .5em .5em;
  cursor: pointer;
}

#basket .item-list{
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#basket .item{
  display: flex;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  padding: 1em;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#basket .item img{
  height: 4.8em;
  aspect-ratio: 4/3;
}

#basket .item .right{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
}

#basket .item .title{
  font-size: 1.1em;
  font-weight: 500;
}

.options-container{
  display: flex;
  align-items: center;
  gap: .8em;
  font-size: .9rem;
}

.options-container .options{
  display: inline-flex;
  height: 1.8em;
  border-radius: 5px;
  border: solid .1em rgb(236, 236, 236);
  overflow: hidden; 
  background: #fff; 
}

.options-container .options .step{
  padding: 0 .5em;        
  background: none;
  color: black;
  background-color: white;
  font-weight: 400;
  font-size: 1em;
  border: none;
}

.options-container .options p{
  display: flex;
  align-items: center;
  padding: 0 .8em;
  font-size: .8em;
}

.options-container .options .step.plus{
  border-radius: 0;
  border-left: solid .1em rgb(236, 236, 236);
}

.options-container .options .step.minus{
  border-radius: 0;
  border-right: solid .1em rgb(236, 236, 236);
}

.options-container .options .step.plus:hover{
    background: rgb(240, 240, 240);
}

.options-container .options .step.minus:hover{
    background: rgb(240, 240, 240);
}

.cart-decrease-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

#basket .bottom,.delete{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#basket .delete{
  gap: .3em;
  font-size: .8em;
  cursor: pointer;

  padding: .5em;
}
#basket .delete:hover{
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
}

#basket .bottom .price{
  font-size: 1.1em;
  font-weight: 500;
}

#basket .container > .bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  margin-top: 1em;
}

#basket .container > .bottom > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.2em;
  font-weight: 500;
}

#basket .container > .bottom > a{
  width: 100%;
}

#basket .container > .bottom button{
  font-size: 1.3em;
  font-weight: 500;
  width: 100%;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/*basket-end*/

/*footer-start*/

#footer{
  font-size: .7rem;
  color: rgb(101, 101, 101);
  margin-top: 4em;
}

#footer .container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: rgba(245, 245, 245, 0.602);
  gap: 4em;
  padding: 2em 2em 4em 2em;
}

#footer .item{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#footer .item:last-child{
  grid-column: 5; 
  grid-row: 1;  
}

#footer .item:last-child::before{
  content: "";
  position: absolute;
  top: 10%;
  left: -2em;
  width: .08em;
  height: 80%;
  background-color: rgba(128, 128, 128, 0.15);
}

#footer .item i{
  color: var(--primary-color);
  font-size: 1.2em;
}

#footer .item > p:first-of-type{
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: .5em;
  color: rgb(82, 82, 82);
}

#footer .item > div{
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 300;
  gap: 1em;
}

#footer .bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid rgba(128, 128, 128, 0.15) .08em;
  background-color: rgba(245, 245, 245, 0.602);
}

#footer .bottom a{
  color: rgb(82, 82, 82);
  padding: 1.5em;
}
/*footer-end*/

/*RESPONSİVE*/
@media (max-width: 1160px) {  

}

@media (max-width: 1000px) {  
  #navbar-right{
    display:flex;
    align-items: center;
    height: 100%;
    gap: .4em;
  }

  #footer .container{
    grid-template-columns: repeat(4, 1fr);
  }
  #footer .item:last-child{
    grid-column: 4; 
  }
}

@media (max-width: 720px) {  
  #footer .container{
    grid-template-columns: repeat(3, 1fr);
  }
  #footer .item:last-child{
    grid-column: 3; 
  }
}

@media (max-width: 650px) {  
  #navbar{
    height: 3.5rem;
  }

  #basket .container{
    width: 100%;
  }

  #mobile-menu .container{
    width: 100%;
  }
}

@media (max-width: 500px) {  
  #footer .container{
    grid-template-columns: repeat(2, 1fr);
  }
  #footer .item:last-child{
    grid-column: 2; 
  }
}

@media (max-width: 400px) {  
  #footer .container{
    grid-template-columns: repeat(1, 1fr);
  }
  #footer .item:last-child{
    grid-column: 1; 
  }
}

@media (max-width: 370px) {  
  #basket .container{
    font-size: .9em;
  }
}

/* mobile-settings */
html.menu-open,
body.menu-open {
  overflow: hidden;
  height: 100%;
}

#mobile-menu .container,
#basket .container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}