{% extends "layout.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock extra_css %}
{% block BodyBlock %}
    <section id="section1">
        <div class="container">
            <div class="left-side">
                <div class="title">
                    <p><span style="color:rgb(217, 164, 29);">Frische</span> & <span style="color:rgb(217, 164, 29);">Obst</span></p>
                    <p>für jeden Tag</p>
                </div>
                <div class="subtitle">
                    <p>Natürlich & Gesund</p>
                </div>
                <hr>
                <div class="content">
                    <p>Wir bieten Ihnen täglich frisches, hochwertiges Obst</p>
                    <p>direkt vom Erzeuger. Entdecken Sie die Frische</p>
                    <p>und Qualität unserer Produkte.</p>
                </div>
                <a href="{% url "product:product_list" %}">
                    <button><p>Produkte Entdecken</p></button>
                </a>
            </div>
            <div class="right-side">
                <img 
                    src="{% static "images/fruit1.png" %}" 
                    data-desktop="{% static "images/fruit1.png" %}"  
                    data-mobile="{% static "images/fruit1_2.png" %}"  
                    alt="page not found."
                >
            </div>
        </div>
    </section>
    <section id="section2">
        <div class="container">
            <div class="title">
                <div class="divider-left"></div>
                <p>Beliebte Produkte</p>
                <div class="divider-right"></div>
            </div>
            <div class="category"></div>
            <div class="content"></div>
        </div>
    </section>
    <section id="section3">
        <div class="filter">
            <div class="category" data-search="suggested"><p>Empfohlen</p></div>
            <div class="category" data-search="bestseller"><p>Bestseller</p></div>
            <div class="category" data-search="new_added"><p>Neu hinzugefügt</p></div>
            <a href="{% url "product:product_list" %}">
                <div class="category"><p>Alle.</p></div>
            </a>
        </div>
        <div class="container">

        </div>
    </section>
    
    <a href="{% url "product:product_list" %}" class="view-all-btn">
        <button>
            <p>Alle Produkte ansehen</p>
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </a>
    
    <section id="section4">
        <div class="container">
            <div class="grid">
                <div class="item">
                    <img src="{% static "images/section4_1.png" %}" alt="image not found.">
                    <p>100% Frisch & Natürlich</p>
                    <p>Unsere Produkte sind imnser frisch und natürich, ohne kuinstliche Zubsüse</p>
                </div>
                <div class="item">
                    <img src="{% static "images/section4_2.png" %}" alt="image not found.">
                    <p>Direkt vom Erzeuger</p>
                    <p>Wir bestllen unser Obst direkt von augondailiten Erzeugern</p>
                </div>
                <div class="item">
                    <img src="{% static "images/section4_3.png" %}" alt="image not found.">
                    <p>Gratis Lieferung</p>
                    <p>Kostelloer und schnelis Lieferung direkt su Ihnen nach Hause</p>
                </div>
            </div>
        </div>
    </section>
{% endblock BodyBlock %}
{% block extra_script %}
    <script src="{% static "js/index.js" %}" defer></script>
{% endblock extra_script %}