<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarısoy Obstkorb</title>
    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/layout.css" %}">
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    <nav id="navbar">
        <a style="height: 70%;align-content:center;" href="{% url "index" %}"><img src="{% static "images/logo2.png" %}" alt="logo didn't show"></a>
        <div id="navbar-right">
            <div id="page-list">
                <div class="page-list-item"><a href="{% url "index" %}">Startseite</a><div class="page-list-select"></div></div>
                <div class="page-list-item"><a href="{% url "product:product_list" %}">Produkte</a><div class="page-list-select"></div></div>
                <div class="page-list-item"><a href="#">Über uns</a><div class="page-list-select"></div></div>
                <div class="page-list-item"><a href="#">Kontakt</a><div class="page-list-select"></div></div>
            </div>
            {% if page != 5 %}
            <div class="shopping-cart">
                <div class="icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="cart-badge" id="navbar-cart-badge">0</span>
                </div>
                <p>Warenkorb</p>
            </div>
            {% endif %}
            <div id="hamburger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>
    <div id="navbar-space"></div>

    <div id="basket">
        <div class="container">
            <div class="header">
                <div>
                    <p class="title">DEIN WARENKORB</p>
                    <div class="count" id="basket-count">0</div>
                </div>
                <i class="fa-regular fa-circle-xmark"></i>
            </div>
            <hr>
            <div class="item-list" id="basket-item-list">
            </div>
            
            <div class="bottom">
                <hr>
                <div>
                    <p>Gesamtsumme</p>
                    <p id="basket-grand-total">0,00 €</p>
                </div>
                <a href="{% url "basket" %}">
                    <button>Warenkorb Ansehen</button>
                </a>
            </div>
        </div>
    </div>

    <div id="mobile-menu">
        <div class="container">
            <div class="header">
                <img src="{% static "images/logo2.png" %}" alt="">
                <i class="fa-regular fa-circle-xmark"></i>
            </div>
            {% if page != 5 %}
            <div class="shopping-cart">
                <div class="left">
                    <div class="icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="content">
                        <p>Warenkorb</p>
                        <p style="font-weight:300;font-size:.8em;margin-top:.4em;">3 im Korb</p>
                    </div>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <hr>
            {% endif %}
            <br>
            
            <div class="items">
                {% if page == 1 %}
                    <a href="{% url "index" %}">
                        <div class="page active">
                            <i class="fa-solid fa-house"></i>
                            <p>Startseite</p>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url "index" %}">
                        <div class="page">
                            <i class="fa-regular fa-house"></i>
                            <p>Startseite</p>
                        </div>
                    </a>
                {% endif %}
                {% if page == 2 %}
                    <a href="{% url "product:product_list" %}">
                        <div class="page active">
                            <i class="fa-solid fa-lemon"></i>
                            <p>Produkte</p>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url "product:product_list" %}">
                        <div class="page">
                            <i class="fa-regular fa-lemon"></i>
                            <p>Produkte</p>
                        </div>
                    </a>
                {% endif %}
                {% if page == 3 %}
                    <a href="{% url "about" %}">
                        <div class="page active">
                            <i class="fa-solid fa-circle-question"></i>
                            <p>Über uns</p>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url "about" %}">
                        <div class="page">
                            <i class="fa-regular fa-circle-question"></i>
                            <p>Über uns</p>
                        </div>
                    </a>
                {% endif %}
                {% if page == 4 %}
                    <a href="{% url "contact" %}">
                        <div class="page active">
                            <i class="fa-solid fa-address-book"></i>
                            <p>Kontakt</p>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url "contact" %}">
                        <div class="page">
                            <i class="fa-regular fa-address-book"></i>
                            <p>Kontakt</p>
                        </div>
                    </a>
                {% endif %}
            </div>
            <div class="bottom">
                <hr>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>+49 123 4567890</p>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <p>info@sarisoydbstkorb.de</p>
                </div>
            </div>
        </div>
    </div>
    {% block BodyBlock %}

    {% endblock BodyBlock %}
    <div id="footer">
        <div class="container">
            <div class="item">
                <p>Über Uns</p>
                <p>Unsere Philosophie</p>
                <p>Unser Team</p>
                <p>Kontakt</p>
            </div>
            <div class="item">
                <p>Produkte</p>
                <p>Fruchtkorbe</p>
                <p>Saisonales Obst</p>
                <p>Bio Produkte</p>
            </div>
            <div class="item">
                <p>Schenelizugriff</p>
                <p>Warenkorb</p>
                <p>Vorverdinformationen</p>
                <p>PAGS</p>
                <p>AGB</p>
            </div>
            <div class="item">
                <p>Kontakt</p>
                <p>Varvenkorker 1</p>
                <p>12349</p>
            </div>
            <div class="item">
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <p>+49 123 4567890</p>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <p>info@sarisoydbstkorb.de</p>
                </div>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Musterstrake. 1, 12349 Musterstadt</p>
                </div>
            </div>
        </div>
        <div class="bottom">
            <a href="https://www.linkedin.com/in/faruk-ege-eryi%C4%9Fit-71a8a3205/">
                <p>Web developed by fege</p>
            </a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/44f61e66cc.js" crossorigin="anonymous"></script>
    <script src="{% static "js/layout.js" %}"></script>
    {% block extra_script %}{% endblock extra_script %}
</body>
</html>