{% extends "layout.html" %}
{% load static %}
{% load custom_filters %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/product_list.css" %}">
{% endblock extra_css %}

{% block BodyBlock %}
<section id="sc1">
    <div class="container">
        <img src="{% static "images/product_list_header1.png" %}" alt="">
        <img src="{% static "images/product_list_header2.png" %}" alt="">
    </div>
</section>
<section id="sc2">
    <div class="container">
        <div class="title">
            <p><span style="color:#000000;">Unsere</span> Produkte</p>
            <p>Entdecken Sie unser Angebot an frischem Obst & Gemüse</p>
        </div>

        <div class="search-bar">
            <div>
                <input type="text" id="product-search" placeholder="Produkte durchsuchen...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        
        <div class="category">
            <div class="item active" data-category="all">
                <p>Alle</p>
            </div>
            <div class="item" data-category="fruit_basket">
                <img src="{% static "images/category1.png" %}" alt="">
                <p>Obstkorb</p>
            </div>
            <div class="item" data-category="mix_basket">
                <img src="{% static "images/category2.png" %}" alt="">
                <p>Obst-Gemüsekorb</p>
            </div>
            <div class="item" data-category="fruit">
                <img src="{% static "images/category3.png" %}" alt="">
                <p>Obst</p>
            </div>
            <div class="item" data-category="vegetable">
                <img src="{% static "images/category4.png" %}" alt="">
                <p>Gemüse</p>
            </div>
        </div>
    </div>
</section>
<section id="sc3">
    <div class="container">
        <div class="sort">
            <select name="sort" id="sort-filter">
                <option value="bestseller" selected>Bestseller</option>
                <option value="price_asc">Preis aufsteigend</option>
                <option value="price_desc">Preis absteigend</option>
                <option value="title_asc">A-Z</option>
            </select>
            <div class="icon">
                <i class="hgi hgi-stroke hgi-sort-by-down-02"></i>
            </div>
        </div>

        <div class="content" id="product-list">

        </div>
    </div>
</section>
{% endblock BodyBlock %}

{% block extra_script %}
    <script src="{% static "js/product_list.js" %}" defer></script>
{% endblock extra_script %}